{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css " rel="stylesheet" href="{% static 'stylesheets/bt523/css/bootstrap.css' %}">
    <link type="text/css " rel="stylesheet" href="{% static 'fontawesome5/css/all.css' %}">
    <script src='{%static 'stylesheets/bt523/js/bootstrap.js' %}'></script>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div class="row">
    <div class="text-dark" style="background-color: #9ec5fe ">

        <div class="row">
            <h1 class="text-center display-1" style="background-color: pink" ><b>Welcome </b></h1>
            <p class="text-dark text-center" style="background-color: pink">
                <marquee direction="left">ยินดีต้อนรับสู่เว็บไซต์ของจุฑารัตน์</marquee>
            </p>
        </div>

    <br>
        <h1 class="text-center"  style="color:ivory" ><b>ประชาสัมพันธ์</b> </h1>
        <img src="{%static "images/fd.jpg"%}" width="500" height="500"class="mx-auto d-block img-fluid">
        <br><br><br>







    </div>








</div>

</body>
{% endblock %}