<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>

<ul class="nav nav-tabs" style="background-color: orange">
    <li class="nav-item">
        <a class="nav-link active" href="/home"><i class="fa fa-home"> HOME</i> </a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" href="/info"><i class="fa fa-home"> ข้อมูลส่วนตัว</i> </a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" href="/edu"><i class="fa fa-home"> ประวัติการศึกษา</i> </a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" href="/inter"><i class="fa fa-home"> สิ่งที่สนใจ</i> </a>
    </li>


    <li class="nav-item">
        <a class="nav-link active" href="/package"><i class="fa fa-home"> สินค้านำเสนอ</i> </a>
    </li>


    <li class="nav-item">
        <a class="nav-link active" href="/myidol"><i class="fa fa-home"> บุคคลต้นแบบ</i> </a>
    </li>


    <li class="nav-item">
        <a class="nav-link disabled" href="/#"></a>
    </li>

</ul>



</body>
</html>