{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>package</title>
</head>
<body>
<div class="row">
    <div class="col-lg-2 text-center">
                <h2 class="display-9 text-center" ><b> สินค้า</b></h2>

                <img src="{% static "images/lll.jpg" %}" width="200" height="150" class="mx-auto d-block img-thumbnail img-fluid"><br>
                <br><br><br><br><br><br><br><br>
                <img src="{% static "images/999.jpg" %}" width="200" height="150 " class="mx-auto d-block img-thumbnail img-fluid"><br>
                <br><br><br><br><br><br><br><br>
                <img src="{% static "images/788.jpg" %}" width="200" height="150 " class="mx-auto d-block img-thumbnail img-fluid"><br>

    </div>
    <div class="col-lg-4">
        <br><br><br><br><br><br><br><br>
                <h2 class="display-9">: ซี-แล็บ เซนซิทีฟ มอยซ์เจอร์ รีแพร์ บอดี้ ครีม สำหรับผิวแห้ง - แห้งมาก</h2>
        <br><br><br><br><br><br><br><br>
                <h2 class="display-9">: เดย์ ทู ไนท์ อาย แอนด์ ชีค พาเลทท์เดย์ ทู ไนท์ อาย แอนด์ ชีค พาเลทท์</h2>
        <br><br><br><br><br><br><br><br>
         <br><br><br><br><br><br><br><br>
            <h2 class="display-9">: ซี-แล็บ เซนซิทีฟ มอยซ์เจอร์ รีแพร์ บอดี้</h2>

            </div>
</div>

</body>
{% endblock %}